body{
  padding-top:50px;
    background:
    linear-gradient(27deg, #151515 3px, transparent 3px) 0 3px, 
    linear-gradient(207deg, #151515 3px, transparent 3px) 6px 0px, 
    linear-gradient(27deg, #222 3px, transparent 3px) 0px 6px, 
    linear-gradient(207deg, #222 3px, transparent 3px) 6px 3px, 
    linear-gradient(90deg, #1b1b1b 6px, transparent 6px), 
    linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
    background-color: #131313;
    background-size: 10px 10px;
    color: #fff;

    /*    
    linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
    linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
    linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
    linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
    linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
    linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
    background-color: #131313;
    background-size: 20px 20px;
    color: #fff;
    */
}

/*=====================*/
/*    Leaderboard      */
/*=====================*/

li {
    color: #fff;
}

.riders h4 {
  text-align: center;
  margin-top:40px;
}
#message {
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
}
#message p {
  width:100%;
  opacity:0;
  text-align: center;
  color: #fff;
  margin-bottom:1px;
  background-color: #000;
  transition: opacity .75s ease-in-out;
  -moz-transition: opacity .75s ease-in-out;
  -webkit-transition: opacity .75s ease-in-out;
}

#message p.flash {
  opacity: 0.5;
  transition: opacity .75s ease-in-out;
  -moz-transition: opacity .75s ease-in-out;
  -webkit-transition: opacity .75s ease-in-out;
}

.hide-start,
.controls{
  display:none;
}

body.started .hide-start{
  display:block;
}

#ranking-list {
  background-color: #9d9797;
  padding:1%;
}
#ranking-list li {
  display:block;
  width:98%;
  padding:5px 15px;
  font-size: 16px;
  /*background-color:#E4E4E4;*/
  margin:2px 0;
}

li#header{
  display:block;
  width:100%;
  padding:10px 25px;
  font-size: 22px;
  background-color: #696565;
  color:#f5f3f3;
}
.name, .score {
  width:50%;
  display:inline-block;
}
.score {
  text-align: right;
}
ul{
  margin:0;
  padding:0;
  list-style-type: none;
}

/*=====================*/
/*    Player Page      */
/*=====================*/
h2, h3{
  text-align: center;
}
#ranking {
  list-style-type: none;
}
#ranking li {
  display:block;
  padding:10px;
  font-size: 16px;
}
#ranking .score {
  padding-right:20px;
}

#start {
  width:200px;
  margin: 100px auto;
  display:block;
  vertical-align: middle;
  text-align: center;
}

.response {
  text-align: center;
  padding:10px;
  background-color: rgb(240, 171, 171);
  color: white;
  font-size:16px;
  font-weight: bold;
}

.response.correct {
  background-color: rgb(143, 206, 143);
}

.controls .btn{
  background-color:rgba(255,255,255,0.2);
  width:95%;
  margin:2.5% auto;
}

.controls.btn.btn-primary {
  background-color: #428bca;
}

.controls .btn-half {
  width:47%;
}

.total-time{
  font-size: 4em;
}

.interval-time,
.interval {
  font-size: 3em;
}